#!/bin/bash
# {{ ansible_managed }}
# example invocation: etcdctl.sh get --keys-only --from-key ""

etcdctl \
  --cacert {{ etcd_cert_dir }}/ca.pem \
  --cert {{ etcd_cert_dir }}/admin-{{ inventory_hostname }}.pem \
  --key {{ etcd_cert_dir }}/admin-{{ inventory_hostname }}-key.pem "$@"
